@model AdminWebPage.Models.ForgotPasswordViewModel

<h3>Forgot Password</h3>

@if (ViewBag.Error != null)
{
    <div class="alert alert-danger">@ViewBag.Error</div>
}

<form method="post">
    <div class="mb-3">
        <label>Email</label>
        <input name="email" class="form-control" placeholder="Enter your registered email" required />
    </div>

    <button class="btn btn-primary w-100">Send Verification Code</button>
</form>


