html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    background-color: #EFEFEF;
}

/* Use Inter font */
body {
    font-family: 'Inter', sans-serif;
}


/* Sidebar nav links */
.sidebar .nav-link {
    font-weight: 600;
    color: #6c757d;
    border-radius: 8px;
    transition: all 0.2s ease-in-out;
}

    /* Icons follow text color */
    .sidebar .nav-link i {
        color: inherit;
    }

    /* Hover */
    .sidebar .nav-link:hover {
        background-color: #20274a;
        color: #ffffff;
    }

    /* ACTIVE page */
    .sidebar .nav-link.active {
        background-color: #20274a !important;
        color: #ffffff !important;
    }



